---
import { fade } from "astro:transitions";
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/global/Header.astro";
import Footer from "../components/global/Footer.astro";

interface Props {
  title: string;
  description?: string;
  preloadImage?: string;
  ogImage?: string;
  ogType?: "website" | "article";
  article?: {
    publishedTime: string;
    author: string;
  };
}

const { title, description, preloadImage, ogImage, ogType, article } = Astro.props;
---

<BaseLayout {title} {description} {preloadImage} {ogImage} {ogType} {article}>
  <Header transition:persist="site-header" />
  <main class="flex-grow" transition:animate={fade({ duration: '0.2s' })}>
    <slot />
  </main>
  <Footer transition:persist="site-footer" />
</BaseLayout>
