---
import { fade } from "astro:transitions";
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/global/Header.astro";
import Footer from "../components/global/Footer.astro";
import CookieConsent from "../components/global/CookieConsent.astro";

interface Props {
  title: string;
  description?: string;
  preloadImage?: string;
  ogImage?: string;
  ogType?: "website" | "article";
  article?: {
    publishedTime: string;
    author: string;
  };
}

const { title, description, preloadImage, ogImage, ogType, article } =
  Astro.props;
---

<BaseLayout {title} {description} {preloadImage} {ogImage} {ogType} {article}>
  <a
    href="#main"
    class="focus:bg-accent-500 sr-only focus:not-sr-only focus:fixed focus:top-4 focus:left-4 focus:z-[60] focus:rounded-lg focus:px-4 focus:py-2 focus:text-white focus:outline-none"
  >
    Skip to main content
  </a>
  <Header transition:persist="site-header" />
  <main
    id="main"
    class="flex-grow"
    transition:animate={fade({ duration: "0.2s" })}
  >
    <slot />
  </main>
  <Footer transition:persist="site-footer" />
  <CookieConsent />
</BaseLayout>
